{% extends "base/base_gestor.html" %}

{% block base_content %}
<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> 
<script type="text/javascript">
	//<![CDATA[
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
	//]]>
</script>


	<div class="container">
		
		<form method="POST">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-12">
					<h1>Atualização da notícia</h1>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<h4>Data da notícia</h4>
						{{updateNoticiasForm.data_publicacao}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<h4>Estado da notícia</h4>
						{{updateNoticiasForm.estado}}
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<h4>Titulo da notícia</h4>
						{{updateNoticiasForm.titulo}}
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<h4>Chamada da notícia</h4>
						{{updateNoticiasForm.chamada}}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-9">
					<div class="form-group">
						<h4>Imagem da notícia</h4>
						{{updateNoticiasForm.img_noticia}}
					</div>
					<div class="form-group">
						<small>Credito da imagem</small>
						{{updateNoticiasForm.img_credito}}
					</div>
				</div>
				<div class="col-md-3">
					<img src="https://picsum.photos/800/600/?random" class="img-responsive">
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<h4>Conteudo da notícia</h4>
						{{updateNoticiasForm.conteudo}}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<h4>Link do video do YouTube</h4>
						{{updateNoticiasForm.video}}
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<h4>Descrição do video</h4>
						{{updateNoticiasForm.video_descricao}}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<smass>Álbum imagem</small>
						{{updateNoticiasForm.album_one}}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<smass>Álbum imagem</small>
						{{updateNoticiasForm.album_two}}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<smass>Álbum imagem</small>
						{{updateNoticiasForm.album_three}}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<smass>Álbum imagem</small>
						{{updateNoticiasForm.album_four}}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<smass>Álbum imagem</small>
						{{updateNoticiasForm.album_five}}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<smass>Álbum imagem</small>
						{{updateNoticiasForm.album_six}}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary btn-block btn-save">ATUALIZAR NOTÍCIA</button>
				</div>
			</div>
		</form>

	</div>

<script>
	$(document).ready(function(){

		$('.container').on('mousedown', '.btn-save', function() {
			conteudo = $('.nicEdit-main')[0].innerHTML
			// $('#conteudo-noticia').css('display', 'block')
			$('#conteudo-noticia')[0].innerHTML = conteudo
		});

	});
</script>

{% endblock %}
