<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Criador inicial</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="container">
        <div class="row">
            <div id="init_create">
                <div class="col-md-12">
                    <h2 class="text-center">Quantitativos dos Resultados por estados</h2>
                </div>
                <div class="col-md-offset-2 col-md-1">
                    <div class="row">
                        <div class="qtd_pa">
                            <h4 class="text-center">PA</h4>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_ud" placeholder="UD"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_um" placeholder="UM"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_dc" placeholder="DC"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_atec" placeholder="ATECs"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_prod" placeholder="Prod."></div>
                            <div class="col-md-12"><button type="button" class="btn btn-primary btn-block save_pa">Salvar</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="row">
                        <div class="qtd_mt">
                            <h4 class="text-center">MT</h4>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_ud" placeholder="UD"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_um" placeholder="UM"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_dc" placeholder="DC"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_atec" placeholder="ATECs"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_prod" placeholder="Prod."></div>
                            <div class="col-md-12"><button type="button" class="btn btn-primary btn-block save_mt">Salvar</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="row">
                        <div class="qtd_ro">
                            <h4 class="text-center">RO</h4>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_ud" placeholder="UD"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_um" placeholder="UM"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_dc" placeholder="DC"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_atec" placeholder="ATECs"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_prod" placeholder="Prod."></div>
                            <div class="col-md-12"><button type="button" class="btn btn-primary btn-block save_ro">Salvar</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="row">
                        <div class="qtd_ba">
                            <h4 class="text-center">BA</h4>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_ud" placeholder="UD"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_um" placeholder="UM"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_dc" placeholder="DC"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_atec" placeholder="ATECs"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_prod" placeholder="Prod."></div>
                            <div class="col-md-12"><button type="button" class="btn btn-primary btn-block save_ba">Salvar</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="row">
                        <div class="qtd_mg">
                            <h4 class="text-center">MG</h4>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_ud" placeholder="UD"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_um" placeholder="UM"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_dc" placeholder="DC"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_atec" placeholder="ATECs"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_prod" placeholder="Prod."></div>
                            <div class="col-md-12"><button type="button" class="btn btn-primary btn-block save_mg">Salvar</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="row">
                        <div class="qtd_pr">
                            <h4 class="text-center">PR</h4>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_ud" placeholder="UD"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_um" placeholder="UM"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_dc" placeholder="DC"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_atec" placeholder="ATECs"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_prod" placeholder="Prod."></div>
                            <div class="col-md-12"><button type="button" class="btn btn-primary btn-block save_pr">Salvar</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="row">
                        <div class="qtd_rs">
                            <h4 class="text-center">RS</h4>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_ud" placeholder="UD"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_um" placeholder="UM"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_dc" placeholder="DC"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_atec" placeholder="ATECs"></div>
                            <div class="col-md-12"><input style="width: 100%;" type="text" name="qtd_prod" placeholder="Prod."></div>
                            <div class="col-md-12"><button type="button" class="btn btn-primary btn-block save_rs">Salvar</button></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


<script>
    $(document).ready(function(){

        $('#init_create').on('click', '.save_pa', function() {
            var qtd_list = {}
            valores = $('.qtd_pa').find('input')
            for (i = 0 ; i < valores.length ; i++) {
                qtd_list[valores[i].name] = valores[i].value
            }
            qtd_list["valores_estado"] = 'estado_pa'
            $.ajax({
                type: 'GET',
                url: '/gestor/metas_geral/new/',
                dataType: "json",
                data: qtd_list,
                success: function(data){
                    alert('line created in the database')
                }
            });
        });
        $('#init_create').on('click', '.save_mt', function() {
            var qtd_list = {}
            valores = $('.qtd_mt').find('input')
            for (i = 0 ; i < valores.length ; i++) {
                qtd_list[valores[i].name] = valores[i].value
            }
            qtd_list["valores_estado"] = 'estado_mt'
            $.ajax({
                type: 'GET',
                url: '/gestor/metas_geral/new/',
                dataType: "json",
                data: qtd_list,
                success: function(data){
                    alert('line created in the database')
                }
            });
        });
        $('#init_create').on('click', '.save_ro', function() {
            var qtd_list = {}
            valores = $('.qtd_ro').find('input')
            for (i = 0 ; i < valores.length ; i++) {
                qtd_list[valores[i].name] = valores[i].value
            }
            qtd_list["valores_estado"] = 'estado_ro'
            $.ajax({
                type: 'GET',
                url: '/gestor/metas_geral/new/',
                dataType: "json",
                data: qtd_list,
                success: function(data){
                    alert('line created in the database')
                }
            });
        });
        $('#init_create').on('click', '.save_ba', function() {
            var qtd_list = {}
            valores = $('.qtd_ba').find('input')
            for (i = 0 ; i < valores.length ; i++) {
                qtd_list[valores[i].name] = valores[i].value
            }
            qtd_list["valores_estado"] = 'estado_ba'
            $.ajax({
                type: 'GET',
                url: '/gestor/metas_geral/new/',
                dataType: "json",
                data: qtd_list,
                success: function(data){
                    alert('line created in the database')
                }
            });
        });
        $('#init_create').on('click', '.save_mg', function() {
            var qtd_list = {}
            valores = $('.qtd_mg').find('input')
            for (i = 0 ; i < valores.length ; i++) {
                qtd_list[valores[i].name] = valores[i].value
            }
            qtd_list["valores_estado"] = 'estado_mg'
            $.ajax({
                type: 'GET',
                url: '/gestor/metas_geral/new/',
                dataType: "json",
                data: qtd_list,
                success: function(data){
                    alert('line created in the database')
                }
            });
        });
        $('#init_create').on('click', '.save_pr', function() {
            var qtd_list = {}
            valores = $('.qtd_pr').find('input')
            for (i = 0 ; i < valores.length ; i++) {
                qtd_list[valores[i].name] = valores[i].value
            }
            qtd_list["valores_estado"] = 'estado_pr'
            $.ajax({
                type: 'GET',
                url: '/gestor/metas_geral/new/',
                dataType: "json",
                data: qtd_list,
                success: function(data){
                    alert('line created in the database')
                }
            });
        });
        $('#init_create').on('click', '.save_rs', function() {
            var qtd_list = {}
            valores = $('.qtd_rs').find('input')
            for (i = 0 ; i < valores.length ; i++) {
                qtd_list[valores[i].name] = valores[i].value
            }
            qtd_list["valores_estado"] = 'estado_rs'
            $.ajax({
                type: 'GET',
                url: '/gestor/metas_geral/new/',
                dataType: "json",
                data: qtd_list,
                success: function(data){
                    alert('line created in the database')
                }
            });
        });

    });
</script>


</body>
</html>
