{% extends "base/base.html" %}
{% load static %}

{% block base_content_css %}
    <<link rel="stylesheet" href="{% static "style/historiarural/template.css" %}">
{% endblock %}

{% block base_content %}




    <div class="flutuante">
        <div><a href="https://www.facebook.com/BIDBrasil" target="_blank"><img src="{% static "image/historiarural/facebook.jpg" %}"></a></div>
        <div><a href="https://twitter.com/bidbr" target="_blank"><img src="{% static "image/historiarural/twitter.jpg" %}"></a></div>
        <div><a href="mailto:ruralsustentavel@iabs.org.br"><img src="{% static "image/historiarural/contato.jpg" %}"></a></div>
    </div>

    <section id="topo" data-speed="6" data-type="background">
        <div class="container-branco"></div>
        <div class="container">
            <h1>HISTÓRIAS DE UM RURAL DE BAIXA EMISSÃO DE CARBONO</h1>
            <p align="center">
                <span class="glyphicon glyphicon-menu-down seta-home"></span>
            </p>
        </div>
    </section>

    <div class="row" id="contracapa">
        <div class="container">
            <div class="col-md-12">
                <p>
                    <h4>Projeto Rural Sustentável: recuperando pastagem degradada, combatendo os efeitos</br>das mudanças climáticas e aumentando a produtividade</h4>
                    <p>
                        <img src="{% static "image/historiarural/mapa_historias.png" %}" width="70%">
                    </p>
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="display: block; margin: 0 auto; text-align: justify; padding: 50px 0;">
                <p>Quem olha para a propriedade do produtor rural Célio Pereira não imagina que há apenas 10 anos as voçorocas já tinham tomado grande parte de sua terra. Trabalhando na cidade de Itambacuri, em Minas Gerais, resolveu retornar ao campo assumindo as terras que eram do pai e tentar a vida como agricultor. Começou plantando café, mas a experiência não foi adiante. Segundo Célio depois de certo tempo ele percebeu que as condições da região não favoreciam esse tipo de lavoura. <strong>“Tínhamos pouca de mão de obra disponível e o café que plantamos não tinha a qualidade que queríamos”</strong>, afirmou.</p>

                <p>Na verdade a região de Itambacuri em Minas Gerais, local onde vivem o produtor e sua família, é bastante conhecida por ser um local de grande produção leiteira e foi onde ele resolveu apostar.<strong> “Mesmo tendo outros produtores concorrendo eu entendia que poderia ser uma boa opção comercial e acreditava que poderia contribuir com esse potencial”</strong>, disse. E assim ele foi frequentando cursos na área e se aprimorando na arte da produção leiteira.</p>

                <p>Célio destaca que para se ter um bom ganho de produtividade é importante fazer investimentos em todos os setores da atividade. <strong>“Uma das minhas maiores preocupações era com a recuperação das pastagens, que vinham se degradando há algum tempo, sem comprometer o meio ambiente”</strong>, ressaltou.</p>

                <p>De acordo com Célio a área da sua Fazenda, a Baixinha, já não havia floresta quando ele iniciou seu negócio. <strong>“Não derrubamos nenhuma árvore nativa, a minha intenção era recuperar o local para não precisar abrir novos pastos”</strong>. Essa recuperação começou em uma área de dez hectares, em que quatro hectares foram contemplados pelo Projeto Rural Sustentável (PRS).</p>
            </div>
        </div>
    </div>

    <div class="row" id="video">
        <div class="container">
            <p align="center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ab8yfZiMxUA" frameborder="0" allowfullscreen></iframe>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="display: block; margin: 0 auto; text-align: justify; padding: 50px 0;">
                <p>Sidney Fernandes Batista é agrônomo da Empresa de Assistência Técnica e Extensão Rural (Emater-MG) e foi o responsável por apresentar o projeto a Célio. <strong>“Essa área há seis anos não tinha nenhuma vegetação, era somente solo exposto e o proprietário resolveu recuperá-la e por isso foi beneficiado”</strong>, disse.</p>

                <p>A planta usada para a recuperação da área foi a Brachiaria Brizantha cv. Marandu também conhecida como Braquiarão, e que segundo pesquisa da Empresa Brasileira de Pesquisa Agropecuária (Embrapa), “auxilia nas pastagens em recuperação com aumentos no teor de matéria orgânica dos solos e na cobertura vegetal da área, que garantem melhor aproveitamento da água, evitando a possibilidade de compactação e de erosão das áreas de pastagens, além de dificultar a infestação por plantas daninhas” (Embrapa, 2005).</p>
        </div>
    </div>

    <div class="row" id="secao3">
        <div class="col-md-3 textoesquerda">
            <p><h4>A recuperação de áreas degradadas(RAD) com pastagens é uma das tecnologias aprovadas pelo Plano de Agricultura de Baixo Carbono (ABC) e apoiada pelo Banco Interamericano de Desenvolvimento (BID) por meio do PRS.</h4></p>
        </div>
    </div>

    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="display: block; margin: 0 auto; text-align: justify; padding: 50px 0;">
            <h2>Família ao lado e premiações</h2>

            <p>Além de seus funcionários, Célio também tem como seu braço direito o filho Célio Carmargos, que aos 18 anos após terminar o ensino médio fez caminho oposto a maioria dos filhos de produtores rurais, saiu da cidade e voltou para o campo. Ele ajuda o pai em quase tudo, inclusive com a atenção sobre a alimentação do rebanho e rotação de pastagens. <strong>“Aqui é minha vida, desde menino convivo com os animais, as lavouras, morar na roça é tudo pra mim”</strong>, destaca Camargos.</p>

            <p>Todo esse esforço, a ajuda da família e a preocupação em gerar menos impacto no meio ambiente só trouxe benefícios ao produtor. De acordo com Célio Pereira a produção de leite aumentou em dez vezes após investimentos em tecnologias agropecuárias. <strong>“Há 20 anos começamos produzindo 60 litros de leite diários, hoje são 600!”</strong> enfatizou.</p>

            <p>Ainda conforme o produtor é importante a promoção de políticas que incentivem o pequeno e médio produtor a continuar produzindo com responsabilidade. <strong>“Eu acredito muito no projeto e incentivo todos os meus amigos a conhecerem, participarem do Dia de Campo e se sensibilizarem que é possível produzir com alto rendimento e ajudando a combater os problemas ambientais”</strong>, finalizou.</p>
        </div>
    </div>


    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-sm-12 col-md-4 col-lg-6">
                <img src="{% static "image/historiarural/capa-informativo.jpg" %}" width="100%">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-6">
            <br/>
            <h4 style="text-align: center; font-weight: bold; color: #155433">Quer saber mais sobre a tecnologia que mudou a vida do Célio?</h4>
                <p align="center"><a href="https://ruralsustentavel-cms-teste.s3.amazonaws.com/media/documentos/3-_INF_BID_-_RAD_-_web.pdf">Baixe clicando aqui!</a></p>
            </div>
        </div>
    </div>

    <div style="height: 100px;"></div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-104762470-1', 'auto');
      ga('send', 'pageview');
    </script>


{% endblock %}
