{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sustainable Rural</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{% static "site_en/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="{% static "site_en/vendor/font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <!-- <link href="css/freelancer.css" rel="stylesheet"> -->
    <link href="{% static "site_en/css/freelancer.css"%}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img src="https://s3-sa-east-1.amazonaws.com/ruralsustentavel-cms-teste/site/img/image_home/logo_prs.png">
            </a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about" style="color: #006B31;">Sobre</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#project_main" style="color: #006B31;">ACCIONES DEL PROYECTO</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#rural_producers" style="color: #006B31;">PRODUCTORES RURALES</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#technologies" style="color: #006B31;">TECNOLOGÍAS</a>
                    </li>
                    <li class="nav-item">
                        <a href="/"><img src="{% static "site_en/img/icon_br.png"%}" ></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <img class="img-fluid mb-5 d-block mx-auto" src="{% static "site_en/img/rural_profile.png"%}" width="300" height="400">
            <h1 class="text-uppercase mb-0" style="color: #006A30;">Rural Sostenible</h1>
            <br><br><br>
            <!-- SVG DAS METAS DO PROJETO -->
            <div class="col-md-12">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="721px" height="238px" viewBox="0 0 721 238" enable-background="new 0 0 721 238" xml:space="preserve">
                    <g>
                        <path fill="#978510" d="M386.766,121.995c-21.529,0-38.984-17.455-38.984-38.986h-21.699c0,33.515,27.17,60.685,60.684,60.685c33.516,0,60.686-27.17,60.686-60.685h-21.699C425.752,104.54,408.297,121.995,386.766,121.995z"/>
                        <path fill="#70AA2E" d="M287.096,44.017c-21.529,0-38.984,17.454-38.984,38.985h-21.699c0-33.515,27.17-60.685,60.684-60.685c33.516,0,60.686,27.17,60.686,60.685h-21.699C326.082,61.471,308.629,44.017,287.096,44.017z"/>
                        <path fill="#CD7D00" d="M485.764,44.017c-21.529,0-38.984,17.454-38.984,38.985H425.08c0-33.515,27.17-60.685,60.684-60.685c33.516,0,60.686,27.17,60.686,60.685H524.75C524.75,61.471,507.295,44.017,485.764,44.017z"/>
                        <path fill="#1A6F6F" d="M187.428,121.995c-21.533,0-38.986-17.455-38.986-38.986h-21.699c0,33.515,27.17,60.685,60.686,60.685c33.514,0,60.684-27.17,60.684-60.685h-21.699C226.412,104.54,208.959,121.995,187.428,121.995z"/>
                        <path fill="#08622E" d="M87.757,44.017c-21.531,0-38.986,17.454-38.986,38.985H27.072c0-33.515,27.169-60.685,60.686-60.685c33.515,0,60.684,27.17,60.684,60.685h-21.699C126.742,61.471,109.288,44.017,87.757,44.017z"/>
                        <path fill="#925B00" d="M535.564,67.395l-15.613,15.614h4.799c0,21.531-17.455,38.986-38.986,38.986c-21.529,0-38.984-17.455-38.984-38.986H425.08c0,33.515,27.17,60.685,60.684,60.685c33.516,0,60.686-27.17,60.686-60.685h4.727L535.564,67.395z"/>
                        <circle fill="#F39200" cx="635.25" cy="83.009" r="62.116"/>
                        <a href="/participe/" style="cursor: pointer;">
                            <text transform="matrix(1 0 0 1 590.0234 90.0225)" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="20" >Participa</text>
                        </a>
                        <path fill="#D6B917" d="M436.566,98.615l-15.613-15.613h4.799c0-21.531-17.455-38.985-38.986-38.985c-21.529,0-38.984,17.454-38.984,38.985h-21.699c0-33.515,27.17-60.685,60.684-60.685c33.516,0,60.686,27.17,60.686,60.685h4.729L436.566,98.615z"/>
                        <path fill="#4D791F" d="M336.896,67.395l-15.613,15.614h4.799c0,21.531-17.453,38.986-38.986,38.986c-21.529,0-38.984-17.455-38.984-38.986h-21.699c0,33.515,27.17,60.685,60.684,60.685c33.516,0,60.686-27.17,60.686-60.685h4.729L336.896,67.395z"/>
                        <path fill="#23B4B7" d="M237.225,98.615l-15.611-15.613h4.799c0-21.531-17.453-38.985-38.984-38.985c-21.533,0-38.986,17.454-38.986,38.985h-21.699c0-33.515,27.17-60.685,60.686-60.685c33.514,0,60.684,27.17,60.684,60.685h4.729L237.225,98.615z"/>
                        <path fill="#034F24" d="M137.557,67.395l-15.613,15.614h4.798c0,21.531-17.455,38.986-38.985,38.986c-21.531,0-38.986-17.455-38.986-38.986H27.072c0,33.515,27.169,60.685,60.686,60.685c33.515,0,60.684-27.17,60.684-60.685h4.729L137.557,67.395z"/>
                    </g>

                    <text transform="matrix(1 0 0 1 69.9458 167.0078)">
                        <tspan x="0" y="0" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="23.4272">350</tspan>
                        <tspan x="-1.893" y="28.113" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">UDs</tspan>
                    </text>
                    <!-- CONTADOR DE UDs DO PROJETO -->
                    <text transform="matrix(1 0 0 1 65.709 90.6147)"   fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24" id="counter_unidade_demonstativa"></text>
                    <!-- CONTADOR DE UDs DO PROJETO -->
                    <text transform="matrix(1 0 0 1 352.7197 90.6147)" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24" id="counter_produtores"></text>
                    <!-- CONTADOR DE UDs DO PROJETO -->
                    <text transform="matrix(1 0 0 1 268.7329 90.6147)" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24" id="counter_dia_campo"></text>
                    <!-- CONTADOR DE UDs DO PROJETO -->
                    <text transform="matrix(1 0 0 1 461.0664 90.6147)" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24" id="counter_atec"></text>
                    <!-- CONTADOR DE UDs DO PROJETO -->
                    <text transform="matrix(1 0 0 1 163.0781 90.6147)" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24" id="counter_unidade_multiplicadora"></text>
                    
                    <text transform="matrix(1 0 0 1 160.5513 167.0078)">
                        <tspan x="0"      y="0"      fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">3.360</tspan>
                        <tspan x="4.318"  y="28.113" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">UMs</tspan>
                    </text>
                    <text transform="matrix(1 0 0 1 258.4048 167.0078)">
                        <tspan x="0"      y="0"      fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">2.260</tspan>
                        <tspan x="11.29"  y="29"     fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">DCs</tspan></text>
                    <text transform="matrix(1 0 0 1 458.8887 167.0078)">
                        <tspan x="0"      y="0"      fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">1.120</tspan>
                        <tspan x="10"     y="18"     fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="14">ATECs</tspan>
                        <tspan x="3"      y="33"     fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="14">Capacitados</tspan>
                    </text>
                    <text transform="matrix(1 0 0 1 359.6108 167.0078)">
                        <tspan x="-10"    y="0"      fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">11.220</tspan>
                        <tspan x="-5.328" y="16.801" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="14">Productores</tspan>
                        <tspan x="-8.059" y="33.6"   fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="14">Capacitados</tspan>
                    </text>
                </svg>
            </div>
            <!-- FIM SVG DAS METAS DO PROJETO -->
        </div>
    </header>

    <!-- About Section -->
    <section class="text-white mb-0" style="background-color: #18BC9C;" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Objetivo</h2>
        <!-- <hr class="star-light mb-5"> --><br>
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">
              El objetivo del Proyecto es mejorar la gestión de la tierra y los bosques por los agricultores en los biomas Amazonia y Bosque Atlántico con el fin de fomentar el desarrollo rural sostenible, reducción de la pobreza, conservación de la biodiversidad y protección del clima.
            </p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">
              Al mismo tiempo, se busca promover la implementación de un proyecto a gran escala que pueda contribuir al desarrollo del Plan de Agricultura Baja en Carbono – Plan ABC por medio del impulso a la implementación de tecnologías agrícolas en propiedades rurales de acuerdo con lo establecido en el Proyecto Rural Sostenible (Rural Sustentável), BR-X1028.
            </p>
          </div>
        </div>
        <br><br>
        <h2 class="text-center text-uppercase text-white">Socios Institucionales</h2>
        <br>
        <div class="row">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-8">
            <p class="lead">
              Este programa de Cooperación Técnica tiene como ejecutor y responsable financiero al Banco Interamericano de Desarrollo (BID). Ha sido una iniciativa financiada por el Fondo Internacional para el Clima (International Climate Fund – ICF) del Ministerio de Medio Ambiente, Alimentación y Asuntos Rurales del Gobierno del Reino Unido (DEFRA por sus siglas en inglés), siendo beneficiario el Ministerio de Agricultura, Ganadería y Abastecimiento de Brasil (MAPA por sus siglas en portugués) a través de su Secretaría de Movilidad Social, del Productor Rural y del Cooperativismo.
            </p>
            <br>
            <p class="lead">
              El Instituto Brasileño de Desarrollo y Sostenibilidad (IABS) fue la institución seleccionada, bajo el proceso competitivo SPD 16-072 del BID, para llevar a cabo los servicios de ejecución y operacionalización de las actividades administrativas y logísticas del Proyecto Rural Sostenible, según lo establecido en el contrato nro. C0049-17 firmado entre IABS y el BID en abril de 2017.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div style="height: 150px;"></div>
              <img src="{% static "site_en/img/infografico_ingles.png"%}" class="img-responsive" style="display: none;">
            </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="text-white mb-0" style="background-color: #18BC9C;">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Componentes</h2>
        <!-- <hr class="star-light mb-5"> --><br>
        <div class="row">
        	<div class="col-lg-12">
        		<p>
        			El proyecto Rural Sostenible está organizado en tres componentes principales, articulados entre si de forma complementaria:
        		</p>
        	</div>
          <div class="col-lg-4 ml-auto">
            <p class="lead">
              <h4>Componente 1</h4>
              Está enfocado en acciones de apoyo técnico, a través de asistencia técnica para elaborar y acompañar la implementación de las actividades previstas en las Propuestas Técnicas (PTECs) aprobadas; además de apoyo financiero a pequeños(as) y medianos(as) productores(as) rurales para la adopción de tecnologías de bajo carbono para la producción rural sostenible y medidas de regularización medioambiental.
            </p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">
              <h4>Componente 2</h4>
              Está diseñado con el fin de ofrecer las condiciones de capacitación para que los(as) asistentes técnicos(as) de las instituciones de ATER fortalezcan sus capacidades técnicas y tengan las calificaciones necesarias para ser Agentes de Asistencia Técnica (ATECs) certificados del Proyecto Rural Sostenible. Además, este componente apoya la capacitación de los(as) productores(as) rurales a través de reuniones informativas y días de campo en las Unidades Demostrativas seleccionadas por el Proyecto.
            </p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">
              <h4>Componente 3</h4>
              Asegura la correcta ejecución, supervisión y evaluación de las actividades de la Cooperación Técnica.
            </p>
          </div>
        </div>
        <br><br>

        <h2 class="text-center text-uppercase text-white">Beneficiarios</h2>
        <!-- <hr class="star-light mb-5"> --><br>
        <div class="row">
          <div class="col-lg-12 ml-auto text-center">
            <p class="lead">
             Pequeños(as) y medianos(as) productores(as) rurales y Agentes de Asistencia Técnica – ATECs.
            </p>
          </div>
        </div>
        <br><br>

        <div class="row">
          <div class="col-lg-6 ml-auto">    
            <h2 class="text-center text-uppercase text-white">Equipo Local</h2>
            <br>
            <div class="col-lg-12 ml-auto">
              <p class="lead">
                El equipo de ejecución e implementación del Proyecto está conformado por profesionales del BID y IABS. Para apoyar la ejecución y operacionalización de las actividades administrativas y logísticas, Rural Sostenible cuenta con equipos locales en cada estado atendido. Los equipos están formados por Monitores de Campo y Asesores de Comunicación.
              </p>
            </div>
          </div>  

          <div class="col-lg-6 ml-auto">
            <h2 class="text-center text-uppercase text-white">Monitores de Campo</h2>
            <br>
            <div class="row">
              <div class="col-lg-12 ml-auto">
                <p class="lead">
                  Son profesionales de IABS responsables de apoyar y supervisar la ejecución de los Días de Campo, y de divulgar el Proyecto en los municipios participantes.
                </p>
              </div>
            </div>
          </div>
        </div>
        <br><br>

        <h2 class="text-center text-uppercase text-white">Asesores Locales de Comunicación</h2>
        <!-- <hr class="star-light mb-5"> --><br>
        <div class="row">
          <div class="col-lg-12 ml-auto">
            <p class="lead">
              Son profesionales de comunicación del equipo de IABS responsables de apoyar la movilización, acompañamiento y registro de las acciones del Proyecto en los estados.
            </p>
          </div>
        </div>
        <br><br>

        <h2 class="text-center text-uppercase text-white">Acciones del Proyecto</h2>
        <!-- <hr class="star-light mb-5"> --><br>
        <div class="row">
          <div class="col-lg-12 ml-auto">
            <p class="lead">
              <strong>- </strong>Promover capacitaciones de Asistencia Técnica sobre las tecnologías de bajo carbono apoyadas por el proyecto.
            </p>
            <p class="lead">
              <strong>- </strong>Promover la capacitación de productores rurales por medio de charlas y días de campo / visitas técnicas en Unidades Demostrativas.
            </p>
            <p class="lead">
              <strong>- </strong>Seleccionar y/o implementar Unidades Demostrativas (UDs) en todos los municipios del Proyecto.
            </p>
            <p class="lead">
              <strong>- </strong>Apoyar a los(as) productores(as) rurales para la obtención de Crédito Rural en sus líneas tradicionales por medio de la disposición de asistencia técnica habilitada y de incentivos financieros para la implementación de Unidades Multiplicadoras (UMs).
            </p>
            </p>
          </div>
        </div>
        <br><br>
      </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="project_main">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">ACCIONES DEL PROYECTO</h2>
        <hr class="star-dark mb-5">
          <div class="row">
            <div class="col-lg-12 ml-auto">
              <h3>Unidades Demostrativas (UDs)</h3>
              <p class="lead">
                Área de producción rural que ya cuenta con una o varias de las tecnologías apoyadas por el proyecto. Las UDs sirven como referencia para orientar a los(as) productores(as) rurales por medio de conocimientos específicos de las tecnologías y de las actividades que se desarrollarán durante los Días de Campo realizados por el Proyecto.
              </p>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-lg-12 ml-auto">
              <h3>Unidades Multiplicadoras (UMs)</h3>
              <p class="lead">
                Se trata de un área de producción rural donde será implementada una o varias tecnologías de bajo carbono, además de actividades de regularización ambiental apoyadas por el Proyecto. En esta línea, el Proyecto prevé entregar asistencia técnica a los(as) productores(as) rurales que sean beneficiados(as), para la planificación, implementación y acompañamiento de la UM. Por otra parte, se efectuarán los respectivos pagos por resultados a aquellos(as) productores(as) rurales que alcancen los objetivos propuestos para la UM.
              </p>
            </div>
          </div>
      </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="dias_de_campo">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">DÍA DE CAMPO</h2>
        <!-- <hr class="star-dark mb-5"> --><br>
          <div class="row">
            <div class="col-lg-12 ml-auto">
              <p class="lead">
                Evento en las Unidades Demostrativas (UDs) para los productores(as) rurales, técnicos(as) y otros interesados. Es parte de la estrategia cuyo objetivo es divulgar el Proyecto:
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 ml-auto">
              <p class="lead">
                <strong>1 - </strong> Presentar casos de éxito y capacitar a los participantes sobre la implementación de las tecnologías de bajo carbono en propiedades rurales.
              </p>
            </div>
            <div class="col-lg-12 ml-auto">
              <p class="lead">
                <strong>2 - </strong> Incentivar la diseminación de las practicas sostenibles para la producción y conservación.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 ml-auto">
              <h4>Bahia</h4>
              <h4>Minas Gerais</h4>
              <h4>Paraná</h4>
              <h4>Rio Grande do Sul</h4>
              <h4>Mato Grosso</h4>
              <h4>Pará</h4>
              <h4>Rondônia</h4>
            </div>
          </div>

          <h2 class="text-center text-uppercase text-secondary mb-0">CAPACITACIONES</h2>
          <!-- <hr class="star-light mb-5"> --><br>
          <div class="row">
            <div class="col-lg-12 ml-auto">
              <p class="lead">
                El Proyecto contempla la realización de actividades de capacitación para ATECs con el fin de fortalecer la asistencia técnica entregada en el medio rural. Se busca incentivar el mejoramiento de la gestión sostenible de las propiedades rurales y aumentar la productividad y el ingreso familiar. Están previstas capacitaciones presenciales en los siguientes temas: tecnologías de bajo carbono apoyadas por el Proyecto; gestión sostenible de la propiedad rural; y georreferenciación. También están disponibles 4 cursos en línea para ATECs y otros(as) interesados(as): 1) Introducción al Proyecto Rural Sostenible 2) Gestión de la Propiedad Rural 3) Arreglos productivos y 4) Diagnósticos con ArcGis.
              </p>
            </div>
          </div>

          <br><br>
      </div>
    </section>

   <!-- About Section -->
    <section class="text-white mb-0" style="background-color: #18BC9C;" id="rural_producers">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Productores y Productoras Rurales</h2>
        <!-- <hr class="star-light mb-5"> --><br>
        <div class="row">
          <div class="col-lg-12 ml-auto">
            <p class="lead">
              El Proyecto ha previsto apoyo técnico y financiero para productores(as) rurales beneficiarios(as) de los recursos de este programa. Los(as) productores(as) rurales pueden participar del Proyecto a través de los Días de Campo y de las Llamadas Públicas para Propuestas de Unidades Demostrativas y Multiplicadoras. Para participar de dichas llamadas, el/la productor(a) deberá:
            </p>

            <p class="lead">- Presentar la documentación personal conforme establecido en las Llamadas de Propuestas respectivas.</p>
            <p class="lead">- Tener CPF con situación de registro regularizada.</p>
            <p class="lead">- Presentar la documentación de la propiedad conforme establecido en las Llamadas de Propuestas respectivas.</p>
            <p class="lead">- Tener la propiedad localizadas en los biomas y municipios atendidos por el Proyecto.</p>
            <p class="lead">- Establecer un Acuerdo de Cooperación Técnica con un(a) ATEC certificado(a) del Proyecto para la elaboración de la Propuesta Técnica y la conducción de las actividades previstas.</p>
            <p class="lead">- Pertenecer a uno de los siguientes tipos de productor(a) rural, de acuerdo con lo establecido en la siguiente tabla:</p>

          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <div style="height: 50px;"></div>
            <img src="{% static "site_en/img/typetable.png"%}" class="img-responsive" style="display: none;">
            <small>*El tamaño del módulo fiscal – MF varía de acuerdo con el municipio. Ingrese al link para verificar el MF de su municipio.</small>
          </div>

          <div class="col-lg-12">
            <br>
            <p class="lead">Si usted es un(a) Productor(a) Rural y desea participar del Proyecto, contacte un(a) Agente de Asistencia Técnica (ATEC) habilitado en su municipio. ¡Consulte el listado de instituciones de ATERs aprobadas en el siguiente link {link} y acceda a los beneficios que ofrecemos!</p>
          </div>
        </div>
        <br><br>
      </div>
    </section>

    <section class="text-white mb-0" style="background-color: #18BC9C;" id="rural_producers">
      <div class="container">
        <h3 class="text-center text-uppercase text-white">Instituciones de Asistencia Técnica y Extensión Rural (ATER) y Agentes de Asistencia Técnica (ATEC)</h3>
        <!-- <hr class="star-light mb-5"> --><br>
        <div class="row">
          <div class="col-lg-12 ml-auto">
            <p class="lead">
              El proyecto también contempla actividades de capacitación y apoyo financiero para las instituciones de ATER y ATECs beneficiarios. Podrán participar del Proyecto por medio de:
            </p>

            <p class="lead">a) Capacitaciones sobre Tecnologías Agrícolas de Bajo Carbono, Geoprocesamiento; Gestión Sostenible de la Propiedad Rural y sobre el Proyecto Rural Sostenible. </p>
            <p class="lead">b) Días de Campo en las Unidades Demostrativas del Proyecto.</p>
            <p class="lead">c) Llamadas Públicas de Propuestas para Unidades Demostrativas y Multiplicadoras.</p>

            <br><br>
            <h3 class="text-center text-uppercase text-white">Para participar del Proyecto, las instituciones de ATER deberán:</h3>
            <br>
            <p class="lead">1) Realizar el registro de la institución en el sitio web del Proyecto y enviar los documentos requeridos.</p>
            <p class="lead">2) Aceptar el Término de Anuencia del Proyecto.</p>
            <p class="lead">3) Indicar los profesionales de la institución que podrán actuar como ATECs del Proyecto.</p>

            <br><br>
            <h3 class="text-center text-uppercase text-white">Para participar del Proyecto, los(as) ATECs deberán:</h3>
            <br>
            <p class="lead">1) Tener formación en el área de ciencias agrarias a niveles técnico y superior, con sus respectivos registros profesionales debidamente regularizados en los consejos competentes.</p>
            <p class="lead">2) Realizar el registro en el sitio web del Proyecto y enviar los documentos requeridos.</p>
            <p class="lead">3) Establecer un Acuerdo de Cooperación Técnica con un(a) productor(a) rural para la elaboración de la Propuesta Técnica y la conducción de las actividades presentadas en el marco de una llamada pública de propuestas.</p>
            <p class="lead">4) Prestar asistencia técnica a los(as) productores(as) rurales y acompañar las UDs y/o UMs que hayan sido adjudicadas en el marco de una Llamada Pública. El ATEC debe cumplir y asegurar el éxito de la implementación y conducción de la(s) tecnología(s) de bajo carbono.</p>

            <br><br><br>
            <p class="lead">Si usted es una institución de ATER, regístrese en nuestro sitio web y contribuya a la mejoría de la productividad y sostenibilidad en el campo. Nomine a sus ATECs y promueva la participación de los(as) productores(as) rurales.</p>
          </div>
        </div>
        <br><br>
      </div>
    </section>

    <section id="rural_producers">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary">INSTITUCIONES APROBADAS</h2>
        <!-- <hr class="star-light mb-5"> --><br>
        <div class="row">
          <div class="col-lg-12 ml-auto">

            <h1 style="color: green">A</h1>
            <div><p class="lead"> ACCOMIG </p>
            <div><p class="lead"> ADEOP </p>
            <div><p class="lead"> AGRIFLORESTAL </p>
            <div><p class="lead"> AGRO SOCIAL ZAMBEZE </p>
            <div><p class="lead"> AGROATINS CARAJÁS </p>
            <div><p class="lead"> AGROCRED ENGENHARIA & CONSULTORIA </p>
            <div><p class="lead"> AGROLÓGICA </p>
            <div><p class="lead"> AGROPECUÁRIA SEMEAR </p>
            <div><p class="lead"> AGROSOLLO- PLANEJAMENTO TÉCNICO AGROPECUÁRIO LTDA </p>
            <div><p class="lead"> AGROTOP RURAL </p>
            <div><p class="lead"> ALMEIDA ROCHA COMÉRCIO E SERVIÇOS ADMINISTRATIVOS </p>
            <div><p class="lead"> ALVORADA DO NORTE CONSULTORIA E ASSISTÊNCIA VETERINARIA </p>
            <div><p class="lead"> AM ASSESSORIA AMBIENTAL LTDA </p>
            <div><p class="lead"> AMBIOVERDE </p>
            <div><p class="lead"> ASSOCIAÇÃO CEIBA </p>
            <div><p class="lead"> ASSOCIAÇÃO CULTURAL E AMBIENTALISTA DOS ÍNDIOS TUPINAMBÁ DE OLIVENÇA </p>
            <div><p class="lead"> ASSOCIAÇÃO DE PEQUENOS PRODUTORES RURAIS DE AGROVILA 05 </p>
            <div><p class="lead"> ASSOCIAÇÃO RIOGRANDENSE DE EMPREENDIMENTOS DE ASSISTÊNCIA TÉCNICA E EXTENSÃO RURAL </p>
            <div><p class="lead"> ASSOCICAO DOS AGRICULTORES FAMILIARES E REMANESCENTES DE QUILOMBOLAS DA REGIAO DOS MACACOS DO MUNICI </p>
            <div><p class="lead"> ATER ITAPEJARA </p>
            <div><p class="lead"> ATLAS CONSULTORIA, PROJETOS E SOLUÇÕES AMBIENTAIS </p>

            <h1 style="color: green">B</h1>
            <div><p class="lead"> BCA CONSULTORIA AGROPECUÁRIA LTDA </p>
            <div><p class="lead"> BERTUZZI SERVIÇOS DE AGRONOMIA </p>
            <div><p class="lead"> BIORGÂNICA </p>

            <h1 style="color: green">C</h1>
            <div><p class="lead"> CALL CONSULTORIA AGROPECUARIA LTDA </p>
            <div><p class="lead"> CALVET- CONSULTORIA E ASSESSORIA VETERINÁRIA </p>
            <div><p class="lead"> CAPÃO ALTO CONSULTORIA RURAL LTDA. </p>
            <div><p class="lead"> CEDRO ASSESSORIA E PLANEJAMENTO FLORESTAL </p>
            <div><p class="lead"> CENTRO DE TECNOLOGIAS ALTERNATIVAS POPULARES </p>
            <div><p class="lead"> CENTROESTE PLANEJAMENTO E CONSULTORIA AGRÍCOLA LTDA </p>
            <div><p class="lead"> CEPLAC </p>
            <div><p class="lead"> CIAAT </p>
            <div><p class="lead"> CLUBE AMIGOS DA TERRA - CAT SORRISO </p>
            <div><p class="lead"> COAFA </p>
            <div><p class="lead"> CONEAGRO - CONSULTORIA E ELABORAÇÃO DE PROJETOS AGROPECUÁRIOS </p>
            <div><p class="lead"> CONPLATEC TERRA SANTA </p>
            <div><p class="lead"> CONSTAGRO ENGENHARIA </p>
            <div><p class="lead"> CONSULTORIA RAÍZES </p>
            <div><p class="lead"> CONTEXTO RURAL </p>
            <div><p class="lead"> COOAFA </p>
            <div><p class="lead"> COOPAFBASUL </p>
            <div><p class="lead"> COOPALM </p>
            <div><p class="lead"> COOPATAN </p>
            <div><p class="lead"> COOPAX </p>
            <div><p class="lead"> COOPERATIVA DE TRABALHO AGROAMBIENTAL DE RONDÔNIA - COOTRARON </p>
            <div><p class="lead"> COOPERATIVA MISTA OURO VERDE LTDA </p>
            <div><p class="lead"> COOPERBIO </p>
            <div><p class="lead"> COOPERIGUAÇU </p>
            <div><p class="lead"> COOPERQUER - COOPERATIVA AGROPECUÁRIA DE QUERÊNCIA </p>
            <div><p class="lead"> COORDENADA RURAL AGRO SOCIOAMBIENTAL </p>
            <div><p class="lead"> COOTRASBE </p>
            <div><p class="lead"> COSTA CONSULTORIA </p>
            <div><p class="lead"> CULTIVARE ENGENHARIA E SOLUÇÕES AGROPECUÁRIAS </p>

            <h1 style="color: green">D</h1>
            <div><p class="lead"> DEFENDER </p>
            <div><p class="lead"> DINIZ CONSULTORIA AGRÍCOLA </p>

            <h1 style="color: green">E</h1>
            <div><p class="lead"> ECO TIME </p>
            <div><p class="lead"> ECOPORÉ </p>
            <div><p class="lead"> EMATER-MG </p>
            <div><p class="lead"> EMPAER MT </p>
            <div><p class="lead"> EMPRESA DE ASSISTÊNCIA TÉCNICA E EXTENSÃO RURAL DO ESTADO DO PARÁ - EMATER PARÁ </p>
            <div><p class="lead"> ENPLATÉC CONSULTORIA E PLANEJAMENTOS </p>
            <div><p class="lead"> ENTIDADE AUTÁRQUICA DE ASSISTÊNCIA TÉCNICA E EXTENSÃO RURAL DO ESTADO DE RONDÔNIA-EMATER </p>
            <div><p class="lead"> EVOLUÇÃO - ASSESSORIA TÉCNICA AGROFLORESTAL </p>
            <div><p class="lead"> EXTENSÃO CARAJÁS ASSESSORIA E PLANEJAMENTO AGROPECUÁRIO LTDA ME </p>

            <h1 style="color: green">G</h1>
            <div><p class="lead"> GEOVIDA CONSULTORIA AMBIENTAL LTDA - ME </p>
            <div><p class="lead"> GIGA CONSULTORIA </p>

            <h1 style="color: green">H</h1>
            <div><p class="lead"> HEBRON FLORESTAL </p>

            <h1 style="color: green">I</h1>
            <div><p class="lead"> IBIO </p>
            <div><p class="lead"> IBS </p>
            <div><p class="lead"> INAES </p>
            <div><p class="lead"> INSTITUTO BRASIL DE ESTUDOS, PESQUISAS E GESTÃO ESTRATÉGICA DE COMPETÊNCIAS </p>
            <div><p class="lead"> INSTITUTO BRASILEIRO DO AGRONEGÓCIO - IBA </p>
            <div><p class="lead"> INSTITUTO EMATER </p>
            <div><p class="lead"> INSTITUTO FLORAVIDA </p>
            <div><p class="lead"> INSTITUTO PAULINE REICHSTUL </p>

            <h1 style="color: green">J</h1>
            <div><p class="lead"> JB EMPREENDIMENTOS </p>
            <div><p class="lead"> JEQUIAGRO CONSULTORIA AMBIENTAL </p>
            <div><p class="lead"> JMEDEIROS CONSULTORIA </p>
            <div><p class="lead"> JVS PROJETOS E CONSULTORIA </p>

            <h1 style="color: green">L</h1>
            <div><p class="lead"> LN ASSISTÊNCIA TÉCNICA E EXTENSÃO RURAL </p>

            <h1 style="color: green">M</h1>
            <div><p class="lead"> MANI ROCHA PROJETOS & CONSULTORIA </p>

            <h1 style="color: green">N</h1>
            <div><p class="lead"> NEO SOLUÇÕES AMBIENTAIS LTDA-ME </p>

            <h1 style="color: green">O</h1>
            <div><p class="lead"> OCT </p>
            <div><p class="lead"> OURO VERDE ENGENHARIA </p>

            <h1 style="color: green">P</h1>
            <div><p class="lead"> PECANHA E SANTOS SOLUCOES AGROPECUARIAS LTDA - ME </p>
            <div><p class="lead"> PLANIGUAÇU </p>
            <div><p class="lead"> PLANTPLAN </p>
            <div><p class="lead"> PLANTSUL </p>
            <div><p class="lead"> PREFEITURA </p>
            <div><p class="lead"> PREFEITURA MUNICIPAL </p>
            <div><p class="lead"> PREFEITURA MUNICIPAL DE ALTA FLORESTA </p>
            <div><p class="lead"> PREFEITURA MUNICIPAL DE BRASNORTE-MT </p>
            <div><p class="lead"> PREFEITURA MUNICIPAL DE BURITIS </p>
            <div><p class="lead"> PREFEITURA MUNICIPAL DE MACHADINHO </p>
            <div><p class="lead"> PREFEITURA MUNICIPAL DE MARAÚ </p>
            <div><p class="lead"> PREFEITURA MUNICIPAL DE NOVA LONDRINA </p>
            <div><p class="lead"> PREFEITURA MUNICIPAL DE PARECIS/RO </p>
            <div><p class="lead"> PREFEITURA MUNICIPAL DE PRESIDENTE TANCREDO NEVES </p>
            <div><p class="lead"> PREFEITURA MUNICIPAL DE SETUBINHA </p>
            <div><p class="lead"> PROAGRI - EMPRESA DE DESENVOLVIMENTO DE PROJETOS AGRICOLAS LTDA - EPP </p>
            <div><p class="lead"> PROATEC PROJETOS E ASSESSORIA TÉCNICA RURAL LTDA ME </p>
            <div><p class="lead"> PROGEO </p>
            <div><p class="lead"> PROTEGE AGRO. CONSUL AGRICOLA E AMBIENTAL </p>

            <h1 style="color: green">R</h1>
            <div><p class="lead"> RASTREAR PROJETOS AGROPECUÁRIOS </p>
            <div><p class="lead"> RR PLANEJAR, CONSULTORIA E TREINAMENTOS </p>
            <div><p class="lead"> RS CONSULTORIA AMBIENTAL </p>
            <div><p class="lead"> RURALPLAN ASSESSORIA CONSULTORIA E PLANEJAMENTO RURAL </p>

            <h1 style="color: green">S</h1>
            <div><p class="lead"> SECRETARIA DE DESENVOLVIMENTO ECONÔMICO AGRICULTURA E ASSUNTOS FUNDIÁRIOS </p>
            <div><p class="lead"> SECRETARIA MUNICIPAL DE AGRICULTURA </p>
            <div><p class="lead"> SERVIÇO NACIONAL DE APRENDIZAGEM RURAL-SENAR </p>
            <div><p class="lead"> SIA - SERVIÇO DE INTELIGÊNCIA EM AGRONEGÓCIOS </p>
            <div><p class="lead"> SILVATOP ENGENHARIA E AGRIMENSURA LTDA. </p>
            <div><p class="lead"> SS SOLUÇÕES </p>
            <div><p class="lead"> SUDTEC PLANEJAMENTO E ASSISTÊNCIA TÉCNICA </p>

            <h1 style="color: green">T</h1>
            <div><p class="lead"> TERRA FÉRTIL </p>
            <div><p class="lead"> TOPLAGRO </p>

            <h1 style="color: green">V</h1>
            <div><p class="lead"> VIAVERDE CONSULTORIA </p>
            <div><p class="lead"> VISÃO RURAL PROJETOS E ASSESSORIA </p>

            <h1 style="
            color: green">W</h1>
            <div><p class="lead"> W B CONSULTORIA EMPRESARIAL </p>
          </div>
        </div>
        <br><br>
      </div>
    </section>

   <!-- About Section -->
    <section class="text-white mb-0" style="background-color: #18BC9C;" id="technologies">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">TECNOLOGÍAS</h2>
        <br>
        <h3 class="text-uppercase text-white">Integración Agrícola-Ganadera- Forestal [ILPF], incluyendo los Sistemas Agroforestales (SAF)</h3>
        <!-- <hr class="star-light mb-5"> --><br>
        <div class="row">
          <div class="col-lg-12 ml-auto">

            <p class="lead"><strong>Los Sistemas de Integración Agrícola-Ganadera- Forestal</strong> integran actividades agrícolas, ganaderas y forestales en una misma área, ya sea por medio de cultivos intercalados, en sucesión o de rotación. Se busca asegurar la producción sostenible y efectos sinérgicos entre los componentes del agroecosistema, contemplando el cumplimiento ambiental y la viabilidad económica.</p>

            <p class="lead"><strong>Los sistemas Agroforestales</strong> son un grupo de prácticas y sistemas de producción agrícola que utilizan especies arbóreas, las cuales podrían ayudar a la restauración forestal y la recuperación de áreas degradadas. La siembra de los cultivos y árboles forestales se encuentran secuencialmente y en combinación con la aplicación de prácticas de conservación de suelo en la misma área. Este sistema trae beneficios tanto económicos como ambientales, lo que permite al agricultor la diversificación de sus productos.</p>

          </div>
        </div>

        <br>
        <h3 class="text-uppercase text-white">Recuperación de Áreas Degradadas con Pastizales (RAD-P) y Recuperación de Áreas Degradadas con Bosques (RAD-B)</h3>
        <!-- <hr class="star-light mb-5"> --><br>
        <div class="row">
          <div class="col-lg-12 ml-auto">

            <p class="lead">
              La recuperación de áreas degradadas (RAD) es una tecnología cuyo objetivo es revertir un área con una condición degradada, a una condición no degradada. Esta técnica promueve rentabilidad productiva, reducción de la deforestación y beneficios ambientales, económicos y sociales. RAD posibilita la recuperación de la integridad física, química y biológica de un área (estructura), y al mismo tiempo, recupera la capacidad productiva (función), ya sea, en la producción de alimentos y materias primas, o en las funciones ecológicas y ecosistémicas. La Recuperación de Áreas Degradadas con Pastizales – (RAD-P) permite la recuperación de la integridad física, química y biológica de un área degradada, y al mismo tiempo, su capacidad productiva, ya sea en la producción de alimentos o materias primas.
            </p>
            <p class="lead">
              La Recuperación de Áreas Degradadas con Bosques – (RAD-B) tiene como objetivo la recuperación del bioma y la conservación ambiental. La RAD-B recupera la integridad física, química y biológica de un área degradada, y al mismo tiempo, recupera sus funciones ecológicas y ecosistémicas. Considerando los aspectos legales relacionados a la recuperación de Áreas de Preservación Permanente (APP) y de Reserva Legal (RL).
            </p>
          </div>
        </div>

        <br>
        <h3 class="text-uppercase text-white">Plantaciones Forestales Comerciales</h3>
        <!-- <hr class="star-light mb-5"> --><br>
        <div class="row">
          <div class="col-lg-12 ml-auto">

            <p class="lead">
              La plantación de especies arbóreas con fines comerciales es importante, no solo del punto de vista productivo, sino también del punto de vista de la conservación ambiental. Las plantaciones forestales comerciales disminuyen la presión sobre los bosques naturales, proveen materia prima para diferentes usos industriales y no industriales, y contribuyen a la provisión de diversos servicios ambientales y sociales. Esta tecnología no se restringe a especies exóticas con fines madereros, por el contrario, abarca cualquier plantación de especies arbóreas en un sistema puro, es decir, que no sea un sistema de integración con componentes agrícolas y/o pastoriles.
            </p>

          </div>
        </div>

        <br>
        <h3 class="text-uppercase text-white">Manejo Sostenible de Bosques Nativos</h3>
        <!-- <hr class="star-light mb-5"> --><br>
        <div class="row">
          <div class="col-lg-12 ml-auto">

            <p class="lead">
              El Manejo Forestal Sostenible, de acuerdo con la ley de Gestión de Bosques Públicos (Ley Federal N° 11.284/2006), es la “administración del bosque para la obtención de beneficios económicos, sociales y ambientales, respetándose los mecanismos de sustentación del ecosistema objeto del manejo e considerándose, acumulativa o alternativamente, la utilización de múltiples especies madereras, de múltiples productos y subproductos no madereros, así como, la utilización de otros bienes y servicios de naturaleza forestal”.
            </p>
          </div>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img class="img-responsive" src="https://s3-sa-east-1.amazonaws.com/ruralsustentavel-cms-teste/site/img/image_home/Logos-parceiros.png" style="width: 90%;">
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Rural Sustentável 2017</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>


    <!-- Bootstrap core JavaScript -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <script src="{% static "site_en/vendor/jquery/jquery.min.js"%}"></script>
    <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="{% static "site_en/vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>

    <!-- Plugin JavaScript -->
    <!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->
    <script src="{% static "site_en/vendor/jquery-easing/jquery.easing.min.js"%}"></script>
    <!-- <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script> -->
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <!-- <script src="js/jqBootstrapValidation.js"></script> -->
    <script src="{% static "site_en/js/jqBootstrapValidation.js"%}"></script>
    <!-- <script src="js/contact_me.js"></script> -->
    <script src="{% static "site_en/js/contact_me.js"%}"></script>

    <!-- Custom scripts for this template -->
    <!-- <script src="js/freelancer.min.js"></script> -->
    <script src="{% static "site_en/js/freelancer.min.js"%}"></script>

    <script>

    $(document).ready(function(){
      
        val_unid_demons = {{metageral_prs.unidade_demonstrativa}}
        val_unid_multip = {{metageral_prs.unidade_multiplicadora}}
        val_dia_campo   = {{metageral_prs.dia_campo}}
        val_produtores  = {{metageral_prs.produtores_capacitados}}
        val_atec        = {{metageral_prs.atecs_treinados}}


        counter_ud = 0
        setInterval(function(){
            counter_ud = counter_ud+1
            if ( counter_ud <= val_unid_demons ) { $('#counter_unidade_demonstativa').html(counter_ud) }
            max_ud = counter_ud+1
            if( max_ud >= val_unid_demons){ $('#counter_unidade_demonstativa').html(val_unid_demons) }
        }, 10);

        counter_um = 0
        setInterval(function(){
            counter_um = counter_um+10
            if ( counter_um <= val_unid_multip ) { $('#counter_unidade_multiplicadora').html(counter_um) }
            max_um = counter_um+10
            if( max_um >= val_unid_multip){ $('#counter_unidade_multiplicadora').html(val_unid_multip) }
        }, 10);

        counter_dc = 0
        setInterval(function(){
            counter_dc = counter_dc+2
            if ( counter_dc <= val_dia_campo ) { $('#counter_dia_campo').html(counter_dc) }
            max_dc = counter_dc+2
            if( max_dc >= val_dia_campo){ $('#counter_dia_campo').html(val_dia_campo) }
        }, 10);

        counter_prod = 0
        setInterval(function(){
            counter_prod = counter_prod+45
            if ( counter_prod <= val_produtores ) { $('#counter_produtores').html(counter_prod) }
            max_prod = counter_prod+45
            if( max_prod >= val_produtores){ $('#counter_produtores').html(val_produtores) }
        }, 10);

        counter_atec = 0
        setInterval(function(){
            counter_atec = counter_atec+15
            if ( counter_atec <= val_atec ) { $('#counter_atec').html(counter_atec) }
            max_atec = counter_atec+15
            if( max_atec >= val_atec){ $('#counter_atec').html(val_atec) }
        }, 10);

    });

    </script>


  </body>

</html>