{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login Gestor</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            background-image: url({% static "bg_login.jpeg" %});

            background-repeat: no-repeat;
            background-size: cover;
        }

        .container-login {
            padding: 200px;
        }     
    </style>

</head>
<body>

<div class="container">

    <div class="container-login">
        
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><h3>Acesso ao Gestor</h3></div>
                    <div class="panel-body">
                        <form action="{% url 'gestor:login' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" name="username" placeholder="Usuário">
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="Senha">
                            </div>
                            <br>
                            <div class="input-group">
                                <button type="submit" class="btn btn-default">Entrar</button>
                            </div>
                        </form>            
                    </div>
                </div>            
            </div>
        </div>
    
    </div>

</div>

</body>
</html>

