<!-- SVG DAS METAS DO PROJETO -->
<div class="col-md-12">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="721px" height="238px" viewBox="0 0 721 238" enable-background="new 0 0 721 238" xml:space="preserve">
        <g>
            <path fill="#978510" d="M386.766,121.995c-21.529,0-38.984-17.455-38.984-38.986h-21.699c0,33.515,27.17,60.685,60.684,60.685c33.516,0,60.686-27.17,60.686-60.685h-21.699C425.752,104.54,408.297,121.995,386.766,121.995z"/>
            <path fill="#70AA2E" d="M287.096,44.017c-21.529,0-38.984,17.454-38.984,38.985h-21.699c0-33.515,27.17-60.685,60.684-60.685c33.516,0,60.686,27.17,60.686,60.685h-21.699C326.082,61.471,308.629,44.017,287.096,44.017z"/>
            <path fill="#CD7D00" d="M485.764,44.017c-21.529,0-38.984,17.454-38.984,38.985H425.08c0-33.515,27.17-60.685,60.684-60.685c33.516,0,60.686,27.17,60.686,60.685H524.75C524.75,61.471,507.295,44.017,485.764,44.017z"/>
            <path fill="#1A6F6F" d="M187.428,121.995c-21.533,0-38.986-17.455-38.986-38.986h-21.699c0,33.515,27.17,60.685,60.686,60.685c33.514,0,60.684-27.17,60.684-60.685h-21.699C226.412,104.54,208.959,121.995,187.428,121.995z"/>
            <path fill="#08622E" d="M87.757,44.017c-21.531,0-38.986,17.454-38.986,38.985H27.072c0-33.515,27.169-60.685,60.686-60.685c33.515,0,60.684,27.17,60.684,60.685h-21.699C126.742,61.471,109.288,44.017,87.757,44.017z"/>
            <path fill="#925B00" d="M535.564,67.395l-15.613,15.614h4.799c0,21.531-17.455,38.986-38.986,38.986c-21.529,0-38.984-17.455-38.984-38.986H425.08c0,33.515,27.17,60.685,60.684,60.685c33.516,0,60.686-27.17,60.686-60.685h4.727L535.564,67.395z"/>
            <circle fill="#F39200" cx="635.25" cy="83.009" r="62.116"/>
            <a href="/participe/" style="cursor: pointer;">
                <text transform="matrix(1 0 0 1 590.0234 90.0225)" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24" >Participe</text>
            </a>
            <path fill="#D6B917" d="M436.566,98.615l-15.613-15.613h4.799c0-21.531-17.455-38.985-38.986-38.985c-21.529,0-38.984,17.454-38.984,38.985h-21.699c0-33.515,27.17-60.685,60.684-60.685c33.516,0,60.686,27.17,60.686,60.685h4.729L436.566,98.615z"/>
            <path fill="#4D791F" d="M336.896,67.395l-15.613,15.614h4.799c0,21.531-17.453,38.986-38.986,38.986c-21.529,0-38.984-17.455-38.984-38.986h-21.699c0,33.515,27.17,60.685,60.684,60.685c33.516,0,60.686-27.17,60.686-60.685h4.729L336.896,67.395z"/>
            <path fill="#23B4B7" d="M237.225,98.615l-15.611-15.613h4.799c0-21.531-17.453-38.985-38.984-38.985c-21.533,0-38.986,17.454-38.986,38.985h-21.699c0-33.515,27.17-60.685,60.686-60.685c33.514,0,60.684,27.17,60.684,60.685h4.729L237.225,98.615z"/>
            <path fill="#034F24" d="M137.557,67.395l-15.613,15.614h4.798c0,21.531-17.455,38.986-38.985,38.986c-21.531,0-38.986-17.455-38.986-38.986H27.072c0,33.515,27.169,60.685,60.686,60.685c33.515,0,60.684-27.17,60.684-60.685h4.729L137.557,67.395z"/>
        </g>

        <text transform="matrix(1 0 0 1 69.9458 167.0078)">
            <tspan x="0" y="0" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="23.4272">350</tspan>
            <tspan x="-1.893" y="28.113" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">UDs</tspan>
        </text>
        <!-- CONTADOR DE UDs DO PROJETO -->
        <text transform="matrix(1 0 0 1 65.709 90.6147)"   fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24" id="counter_unidade_demonstativa"></text>
        <!-- CONTADOR DE UDs DO PROJETO -->
        <text transform="matrix(1 0 0 1 352.7197 90.6147)" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24" id="counter_produtores"></text>
        <!-- CONTADOR DE UDs DO PROJETO -->
        <text transform="matrix(1 0 0 1 268.7329 90.6147)" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24" id="counter_dia_campo"></text>
        <!-- CONTADOR DE UDs DO PROJETO -->
        <text transform="matrix(1 0 0 1 461.0664 90.6147)" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24" id="counter_atec"></text>
        <!-- CONTADOR DE UDs DO PROJETO -->
        <text transform="matrix(1 0 0 1 163.0781 90.6147)" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24" id="counter_unidade_multiplicadora"></text>
        
        <text transform="matrix(1 0 0 1 160.5513 167.0078)">
            <tspan x="0"      y="0"      fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">3.360</tspan>
            <tspan x="4.318"  y="28.113" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">UMs</tspan>
        </text>
        <text transform="matrix(1 0 0 1 258.4048 167.0078)">
            <tspan x="0"      y="0"      fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">2.260</tspan>
            <tspan x="11.29"  y="29"     fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">DCs</tspan></text>
        <text transform="matrix(1 0 0 1 458.8887 167.0078)">
            <tspan x="0"      y="0"      fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">1.120</tspan>
            <tspan x="10"     y="18"     fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="14">ATECs</tspan>
            <tspan x="3"      y="33"     fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="14">treinados</tspan>
        </text>
        <text transform="matrix(1 0 0 1 359.6108 167.0078)">
            <tspan x="-10"    y="0"      fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="24">11.220</tspan>
            <tspan x="-5.328" y="16.801" fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="14">Produtores</tspan>
            <tspan x="-8.059" y="33.6"   fill="#FFFFFF" font-family="Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;" font-size="14">Capacitados</tspan>
        </text>
    </svg>
</div>
<!-- FIM SVG DAS METAS DO PROJETO -->

<script>

    $(document).ready(function(){


        val_unid_demons = {{metageral_prs.unidade_demonstrativa}}
        val_unid_multip = {{metageral_prs.unidade_multiplicadora}}
        val_dia_campo   = {{metageral_prs.dia_campo}}
        val_produtores  = {{metageral_prs.produtores_capacitados}}
        val_atec        = {{metageral_prs.atecs_treinados}}


        counter_ud = 0
        setInterval(function(){
            counter_ud = counter_ud+1
            if ( counter_ud <= val_unid_demons ) { $('#counter_unidade_demonstativa').html(counter_ud) }
            max_ud = counter_ud+1
            if( max_ud >= val_unid_demons){ $('#counter_unidade_demonstativa').html(val_unid_demons) }
        }, 10);

        counter_um = 0
        setInterval(function(){
            counter_um = counter_um+10
            if ( counter_um <= val_unid_multip ) { $('#counter_unidade_multiplicadora').html(counter_um) }
            max_um = counter_um+10
            if( max_um >= val_unid_multip){ $('#counter_unidade_multiplicadora').html(val_unid_multip) }
        }, 10);

        counter_dc = 0
        setInterval(function(){
            counter_dc = counter_dc+2
            if ( counter_dc <= val_dia_campo ) { $('#counter_dia_campo').html(counter_dc) }
            max_dc = counter_dc+2
            if( max_dc >= val_dia_campo){ $('#counter_dia_campo').html(val_dia_campo) }
        }, 10);

        counter_prod = 0
        setInterval(function(){
            counter_prod = counter_prod+45
            if ( counter_prod <= val_produtores ) { $('#counter_produtores').html(counter_prod) }
            max_prod = counter_prod+45
            if( max_prod >= val_produtores){ $('#counter_produtores').html(val_produtores) }
        }, 10);

        counter_atec = 0
        setInterval(function(){
            counter_atec = counter_atec+15
            if ( counter_atec <= val_atec ) { $('#counter_atec').html(counter_atec) }
            max_atec = counter_atec+15
            if( max_atec >= val_atec){ $('#counter_atec').html(val_atec) }
        }, 10);

    });

</script>
